<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('内容维护列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								管理内容名称：<input type="text" name="manageContentName"/>
							</li>
							<li>
								是否启用：<input type="text" name="start"/>
							</li>
							<li>
								保存：<input type="text" name="preserve"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:contentMaintain:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:contentMaintain:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:contentMaintain:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:contentMaintain:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:contentMaintain:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:contentMaintain:remove')}]];
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "system/contentMaintain";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        modalName: "内容维护表",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '序号'
		        },
		        {
		            field: 'manageContentName',
		            title: '管理内容名称',
		            sortable: true
		        },
		        {
		            field: 'remark',
		            title: '备注',
		            sortable: true
		        },
		        {
		            field: 'modifier',
		            title: '修改人',
		            sortable: true
		        },
					{
						field: 'modificationTime',
						title: '修改时间',
						sortable: true,
						formatter:function(value, row , index){

							return value.substr(0,10);;
						}
					},{
						field: 'start',
						title: '是否启用',
						sortable: true
					},
					{
						field: 'monthly',
						title: '按月打包',
						sortable: true
					},
					{
						field: 'preserve',
						title: '保存',
						sortable: true
					}]
		    };
		    $.table.init(options);
		})
	</script>
</body>
</html>