<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('岗位列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								上报单位：<input type="text" name="associativeName"/>
							</li>
							<li>
								管理内容：<input type="text" name="manageContent"/>
							</li>
							<li>
								报表名称：<input type="text" name="reportName"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;确认</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;上报报表</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:reportManage:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:reportManage:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:reportManage:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:reportManage:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:reportManage:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:reportManage:remove')}]];
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "system/reportManage";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        modalName: "岗位",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '序号'
		        },
		        {
		            field: 'associativeName',
		            title: '关联单名称',
		            sortable: true
		        },
		        {
		            field: 'business',
		            title: '有无业务',
		            sortable: true
		        },
		        {
		            field: 'manageContent',
		            title: '管理内容',
		            sortable: true
		        },
					{
						field: 'reportName',
						title: '报表名称',
						sortable: true
					},
		        {
		            field: 'reportPeriod',
		            title: '报表周期',
		            sortable: true
		        },
					{
						field: 'creator',
						title: '创建人',
						sortable: true
					},
					{
						field: 'creatorTime',
						title: '创建时间',
						sortable: true
					},
					{
						field: 'status',
						title: '流程状态',
						sortable: true
					}]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>