<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增酬金计提明细')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-reward-add">
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">地区：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="area" id="area" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">县市：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="counties" id="counties" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">区域营销：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="regional" id="regional" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">渠道类型：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="channelType" id="channelType" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">渠道子类型：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="channelType1" id="channelType1" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">代销商编号：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="merchantId" id="merchantId" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">代销商：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="merchant" id="merchant" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">科目类型：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="subjectType" id="subjectType" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">业务类型：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="businessType" id="businessType" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">品牌：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="brand" id="brand" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">平均单价：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="averagePrice" id="averagePrice" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">计算数量：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="count" id="count" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">酬金金额（含税）：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="rewardSum" id="rewardSum" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">实付金额：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="paidSum" id="paidSum" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">计算依据：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="calculation" id="calculation" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">酬金金额（不含税）：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="rewardSum1" id="rewardSum1" required>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "system/reward";
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/add", $('#form-reward-add').serialize());
	        }
	    }
	</script>
</body>
</html>
