<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增岗位')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-business-add">
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">预算科目：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="subject" id="subject" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">计量单位：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="unit" id="unit" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">调整前预算值：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="adjustBudget" id="adjustBudget" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">调整后预算值：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="adjustBudget2" id="adjustBudget2" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">差额：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="balance" id="balance" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<textarea id="remark" name="remark" class="form-control"></textarea>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "system/business";
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/add", $('#form-business-add').serialize());
	        }
	    }
	</script>
</body>
</html>
