<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('岗位列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								负责人：<input type="text" name="principal"/>
							</li>
							<li>
								付款名称：<input type="text" name="paymentName"/>
							</li>
							<li>
								银行账号：<input type="text" name="bankNum"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:pay:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:pay:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:pay:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:pay:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:pay:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:pay:remove')}]];
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "system/pay";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        modalName: "岗位",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '支付编号'
		        },
		        {
		            field: 'principal',
		            title: '负责人',
		            sortable: true
		        },
		        {
		            field: 'withhold',
		            title: '代扣代缴',
		            sortable: true
		        },
		        {
		            field: 'paymentName',
		            title: '付款名称',
		            sortable: true
		        },
					{
						field: 'openingBank',
						title: '开户行',
						sortable: true
					},
		        {
		            field: 'openingBank1',
		            title: '开户支行',
		            sortable: true
		        },
					{
						field: 'bankNum',
						title: '银行账号',
						sortable: true
					},
					{
						field: 'fee',
						title: '酬金',
						sortable: true
					},
					{
						field: 'cope',
						title: '应付',
						sortable: true
					},
					{
						field: 'status',
						title: '状态',
						sortable: true
					},
					{
						field: 'rewardNum',
						title: '酬金发票编号',
						sortable: true
					},
					{
						field: 'purpose',
						title: '用途',
						sortable: true
					}]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>