<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('往來账数据')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								分公司：<input type="text" name="filiale"/>
							</li>
							<li>
								渠道名称：<input type="text" name="channelName"/>
							</li>
							<li>
								渠道负责人：<input type="text" name="channelManager"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:account:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:account:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:account:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:account:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:account:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:account:remove')}]];
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "system/account";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        modalName: "岗位",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'filiale',
		            title: '分公司'
		        },
		        {
		            field: 'area',
		            title: '渠道编号',
		            sortable: true
		        },
		        {
		            field: 'channelName',
		            title: '渠道名称',
		            sortable: true
		        },
		        {
		            field: 'fee',
		            title: '业务酬金(上月余额)',
		            sortable: true
		        },
					{
						field: 'subsidy',
						title: '综合补贴(上月余额)',
						sortable: true
					},
		        {
		            field: 'fee1',
		            title: '业务酬金(本月增加)不含税金额',
		            sortable: true
		        },
					{
						field: 'fee2',
						title: '业务酬金(本月增加)税额',
						sortable: true
					},
					{
						field: 'subsidy1',
						title: '综合补贴(本月增加)不含税金额',
						sortable: true
					},
					{
						field: 'subsidy2',
						title: '综合补贴(本月增加)税额',
						sortable: true
					},
					{
						field: 'fee3',
						title: '业务酬金(本月减少)不含税金额',
						sortable: true
					},
					{
						field: 'fee4',
						title: '业务酬金(本月减少)进项税转出税额',
						sortable: true
					},
					{
						field: 'subsidy3',
						title: '综合补贴(本月减少)不含税金额',
						sortable: true
					},
					{
						field: 'subsidy4',
						title: '综合补贴(本月减少)进项税转出税额',
						sortable: true
					},
					{
						field: 'fee5',
						title: '业务酬金(本月金额)',
						sortable: true
					},
					{
						field: 'subsidy5',
						title: '综合补贴(本月金额)',
						sortable: true
					},
					{
						field: 'subtotal',
						title: '小计',
						sortable: true
					},
					{
						field: 'channelManager',
						title: '渠道负责人',
						sortable: true
					}]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>