<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('岗位列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								预算科目：<input type="text" name="subject"/>
							</li>
							<li>
								单位：<input type="text" name="unit"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:budget:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:budget:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:budget:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:budget:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:budget:edit')}]];
		var editFlag1 = [[${@permission.hasPermi('system:business:business')}]];
		var removeFlag = [[${@permission.hasPermi('system:budget:remove')}]];
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "system/budget";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        modalName: "岗位",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '编号'
		        },
		        {
		            field: 'subject',
		            title: '预算科目',
		            sortable: true
		        },
		        {
		            field: 'unit',
		            title: '计量单位',
		            sortable: true
		        },
		        {
		            field: 'budgetValue',
		            title: '去年预算值',
		            sortable: true
		        },
					{
						field: 'accomplishValue',
						title: '去年完成值',
						sortable: true
					},
		        {
		            field: 'budgetValue2',
		            title: '本年预算值',
		            sortable: true
		        },
					{
						field: 'remark',
						title: '状态',
						sortable: true
					},
					{
						title: '操作',
						align: 'left',
						formatter: function(value, row, index) {
							if (row.parentId != 0) {
								var actions = [];
								actions.push('<a class="nav-menus menuItem ' + editFlag1 + '" href="/system/budgetgoal">查看详情</a> ');
								return actions.join('');
							} else {
								return "";
							}
						}
					}]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>